[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
maturin = ">=1.13.3"
twine = ">=6.1.0"
pkginfo = ">=1.12.0"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
